/* General Body Styles */
body {
    font-family: 'Space Grotesk', sans-serif;
    /* Font family for the whole page */
    background-image: url('https://c.wallhere.com/photos/85/21/anime_video_games_Pok_mon_Pikachu_Squirtle_Bulbasaur_Charmander-1787165.jpg!d');
    /* Background image */
    background-repeat: no-repeat;
    /* Prevents background from repeating */
    background-size: cover;
    /* Ensures background covers the whole viewport */
    background-attachment: fixed;
    /* Fixes background position on scroll */
    background-position: center;
    /* Centers the background image */
    color: #000000;
    /* Text color */
    text-align: center;
    /* Centers text */
    padding: 20px;
    /* Padding around the body content */
}

/* Reset Page Button Styles */
#reset-page {
    border: none !important;
    /* Removes border */
    background-color: #00000000 !important;
    /* Transparent background */
    box-shadow: none !important;
    /* Removes shadow */
    position: fixed;
    /* Fixed position on the screen */
    top: 2px;
    /* Positions near the top */
    left: 2px;
    /* Positions near the left */
    width: 20%;
    /* Button width */
    height: auto;
    /* Height adjusts automatically */
    cursor: pointer;
    /* Pointer cursor on hover */
    transition: transform 0.2s;
    /* Animation on hover */
    z-index: 1000;
    /* Places above other elements */
    padding: 0%;
    /* No padding */
}

#reset-page:hover {
    transform: scale(1.05);
    /* Scales button on hover */
}

/* Header Image */
.header-image {
    display: block;
    /* Displays as a block element */
    margin: 0 auto;
    /* Centers horizontally */
    max-width: 100%;
    /* Responsive width */
    height: auto;
    /* Maintains aspect ratio */
}

/* Header Section */
.header {
    margin-bottom: 5px;
    /* Space below header */
}

/* Title and Subtitle Images */
#header-title {
    width: 100%;
    /* Full width */
    max-width: 1000px;
    /* Maximum width */
    height: auto;
    /* Responsive height */
    min-width: 270px;
    /* Minimum width */
}

#header-subtitle {
    width: 100%;
    /* Full width */
    max-width: 900px;
    /* Maximum width */
    height: auto;
    /* Responsive height */
    min-width: 200px;
    /* Minimum width */
}

/* Search Forms */
#search-form,
#search-id-form {
    margin: 5px auto;
    /* Centers forms with margin */
    display: flex;
    /* Flexbox layout */
    align-items: center;
    /* Aligns items in the center */
    gap: 10px;
    /* Space between items */
    width: 100%;
    /* Full width */
    max-width: 500px;
    /* Maximum width */
}

#search-form {
    margin-bottom: 10px;
    /* Space below form */
}

#search-id-form {
    margin-top: 10px;
    /* Space above form */
}

/* Search Inputs */
#pokemon-name,
#pokemon-id {
    padding: 10px;
    /* Padding inside input */
    border: none;
    /* No border */
    border-radius: 5px;
    /* Rounded corners */
    width: 100%;
    /* Full width */
    max-width: 300px;
    /* Maximum width */
    font-size: 1em;
    /* Font size */
    font-family: 'Space Grotesk', sans-serif;
    /* Font family */
}

/* Buttons */
button {
    padding: 10px 10px;
    /* Padding inside button */
    border: none;
    /* No border */
    border-radius: 5px;
    /* Rounded corners */
    background-color: #e6b800;
    /* Button background color */
    color: #000000;
    /* Text color */
    font-size: 1em;
    /* Font size */
    cursor: pointer;
    /* Pointer cursor */
    transition: background-color 0.3s, box-shadow 0.3s;
    /* Hover effects */
    font-family: 'Francois One', sans-serif;
    /* Font family */
    width: 100%;
    /* Full width */
    max-width: 120px;
    /* Maximum width */
    box-shadow: 0 4px 8px rgba(0, 0, 255, 0.4);
    /* Button shadow */
}

button:hover {
    background-color: #d87e09;
    /* Changes color on hover */
    box-shadow: 0 6px 12px rgba(0, 0, 255, 0.6);
    /* Enhances shadow on hover */
}

/* Filter Menu */
.filter-menu {
    text-align: center;
    /* Centers text */
    margin: 0;
    /* No margin */
}

/* Filter Buttons */
.filter-buttons {
    display: flex;
    /* Flexbox layout */
    flex-wrap: wrap;
    /* Allows wrapping */
    gap: 10px;
    /* Space between buttons */
    justify-content: center;
    /* Centers buttons */
    width: 100%;
    /* Full width */
    margin: 0 auto;
    /* Centers container */
}

/* Individual Filter Button */
.filter-btn {
    padding: 5px;
    /* Padding inside button */
    background-color: #e6b800;
    /* Button background color */
    border-radius: 5px;
    /* Rounded corners */
    color: #333;
    /* Text color */
    font-size: 1em;
    /* Font size */
    cursor: pointer;
    /* Pointer cursor */
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
    /* Hover effects */
    flex: 1;
    /* Flexible width */
    min-width: 70px;
    /* Minimum width */
    max-width: 200px;
    /* Maximum width */
    font-family: 'Francois One', sans-serif;
    /* Font family */
    box-shadow: 0 4px 8px rgba(0, 0, 255, 0.4);
    /* Button shadow */
}

.filter-btn:hover {
    background-color: #d87e09;
    /* Changes color on hover */
    transform: scale(1.05);
    /* Scales up on hover */
    box-shadow: 0 6px 12px rgba(0, 0, 255, 0.6);
    /* Enhances shadow on hover */
}

/* Pokémon List Grid */
.pokemon-list {
    display: grid;
    /* Grid layout */
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    /* Responsive columns */
    gap: 20px;
    /* Space between grid items */
    margin-bottom: 10px;
    /* Space below grid */
    margin-top: 10px;
    /* Space above grid */
}

/* Pokémon Card */
.pokemon-card {
    background: rgba(255, 255, 255, 0.8);
    /* Semi-transparent background */
    border-radius: 10px;
    /* Rounded corners */
    padding: 15px;
    /* Padding inside card */
    text-align: center;
    /* Centers text */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Card shadow */
    transition: transform 0.3s;
    /* Hover effect */
}

.pokemon-card:hover {
    transform: scale(1.05);
    /* Scales up on hover */
}

.pokemon-card img {
    width: 100px;
    /* Image width */
    height: 100px;
    /* Image height */
}

/* Pokémon Card Title */
.pokemon-card h2 {
    font-size: medium;
    /* Font size */
    margin: 10px 0;
    /* Space above and below title */
    color: #333;
    /* Text color */
    font-family: 'Space Grotesk', sans-serif;
    /* Font family */
}

/* Welcome Image */
.welcome-image {
    display: block;
    /* Displays as block */
    margin: 20px auto;
    /* Centers horizontally */
    width: 200px;
    /* Image width */
    height: auto;
    /* Maintains aspect ratio */
}

/* Hide Element */
.hide {
    display: none;
    /* Hides element */
}

/* Responsive Styles for Medium Screens */
@media (max-width: 768px) {
    #search-form,
    #search-id-form {
        width: 80%;
        /* Responsive width */
    }

    #pokemon-name,
    #pokemon-id {
        max-width: 400px;
        /* Input maximum width */
    }

    button {
        font-size: 0.9em;
        /* Smaller font size */
        padding: 8px 12px;
        /* Smaller padding */
        max-width: 150px;
        /* Button maximum width */
    }

    #header-title,
    #header-subtitle {
        max-width: 80%;
        /* Title and subtitle maximum width */
    }
}

/* Responsive Styles for Small Screens */
@media (max-width: 480px) {

    body {
        background-image: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjMjalUVlfcAfsV7mrRmno8qP5Ny2l8JQwiaU8zeSny27-11p6eKZV5fXjJdeAQ8l-eGrdUkPEbfHwhyphenhyphenTUe4xF66319VuMA6P3TDGa4umUS9dI5rCMfop55S1dlkucYfDa2Yp9VQNzbqu8/s1600-rw/1596391207213982-14.png");
        background-repeat: no-repeat;
        /* Prevents background from repeating */
        background-size: cover;
        /* Ensures background covers the whole viewport */
        background-attachment: fixed;
        /* Fixes background position on scroll */
        background-position: center;
        /* Centers the background image */
    }

    #search-form,
    #search-id-form {
        width: 90%;
        /* Responsive width */
    }

    #pokemon-name,
    #pokemon-id {
        max-width: 300px;
        /* Input maximum width */
    }

    button {
        font-size: 0.8em;
        /* Smaller font size */
        padding: 6px 10px;
        /* Smaller padding */
        max-width: 100px;
        /* Button maximum width */
    }

    #header-title,
    #header-subtitle {
        max-width: 90%;
        /* Title and subtitle maximum width */
    }
}